AOPMetrics.Interceptors.UnitTests/bin/Debug/AOPMetrics.Interceptors.dll
AOPMetrics.Interceptors.UnitTests/bin/Debug/AOPMetrics.Interceptors.dll
AOPMetrics.Interceptors.UnitTests/bin/Debug/AOPMetrics.Interceptors.dll
AOPMetrics.Interceptors.UnitTests/bin/Debug/AOPMetrics.Interceptors.pdb
AOPMetrics.Interceptors.UnitTests/bin/Debug/AOPMetrics.Interceptors.UnitTests.dll
AOPMetrics.Interceptors.UnitTests/bin/Debug/AOPMetrics.Interceptors.UnitTests.pdb
AOPMetrics.Interceptors.UnitTests/obj/Debug/AOPMetrics.Interceptors.UnitTests.csprojResolveAssemblyReference.cache
AOPMetrics.Interceptors.UnitTests/obj/Debug/AOPMetrics.Interceptors.UnitTests.dll
AOPMetrics.Interceptors.UnitTests/obj/Debug/AOPMetrics.Interceptors.UnitTests.pdb
AOPMetrics.Interceptors.UnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AOPMetrics.Interceptors/AOPMetrics.Interceptors.csproj.user
AOPMetrics.Interceptors/bin/Debug/AOPMetrics.Interceptors.dll
AOPMetrics.Interceptors/bin/Debug/AOPMetrics.Interceptors.pdb
AOPMetrics.Interceptors/obj/Debug/AOPMetrics.Interceptors.dll
AOPMetrics.Interceptors/obj/Debug/AOPMetrics.Interceptors.pdb
AOPMetrics.sln.DotSettings.user
AOPMetrics.v12.suo
